POSTGRES_DB=hoeckeler
POSTGRES_USER=hoeckeler
POSTGRES_PASSWORD=REPLACE_WITH_RANDOM_DATABASE_PASSWORD
AUTH_SECRET=REPLACE_WITH_AT_LEAST_32_RANDOM_CHARACTERS
BOOTSTRAP_ADMIN=admin
BOOTSTRAP_PASSWORD=REPLACE_WITH_STRONG_INITIAL_ADMIN_PASSWORD
